body {
	background-color: #A6E8DC !important;
	font-family: 'Raleway', sans-serif !important;
   	font-weight: 100%;
   	font-style: solid;
   	font-size: 1rem;
   	padding: 0%;
   	width: 100%;
 }

section{
	text-align: center;
}



/*p{
	border: 1px solid #F1D4CA; */


ol{
	color:#037368;
	font-family:comic sans-serif;
}

a{
	text-decoration: none;
	color: #000;
	font-style: bold;
}

nav{
	text-align: center;
	background-color:#000;
	line-height: 40px;

}

nav li a{
	list-style:none;
	color: #fff;
	padding: 10px 10px;
}


nav ul {
   list-style: none;
}
nav li {
   display: inline-block;
   width: 10%;
   font-size: 14px
   space-around;
}
nav ul ul {
   position: absolute;
   display: none;
}
nav ul ul li {
   display: block;
   background-color: black;
   width: 100%;
}
nav ul li:hover ul {
   display:block;
}


li{
	list-style: none;
}

footer{
	align-content:left;
	overflow: auto;
 	background-image: 
 	linear-gradient(to bottom, #A6E8DC , #fff);
}





/*Class*/

.h1{
	color: #1CA68D;
	font-family:'Roboto', sans-serif;
   	font-weight: 100;
   	text-align: center;
}

.h2{
	color:#037368;
}

.p{
	color:#037368;
	font-style: italic;
	text-align:center;
}
.p1{
	color:#037368;
	font-style: italic;
	text-align:center;
	text-transform: uppercase; 
}


.stickyparaleer {
    position: fixed;
    top: 10px;
    right: 1px;
    left: 70px;
}

.stickyparaleer img {
	width: 50%;
}

.banner {
	width: 100%;
	display: inline-block;
	align-content: center;
	margin:0;
}

.productos{
	width: 300px;
	height: 300px;
	display:flex-wrap;
	justify-content: center;
	align-items: stretch;
	align-content: space-around;
	margin:2%;
	padding: 2%;   
} 

.productos {
	transition: all 2s; 
   height: 300px; width: 300px;
   padding: 20px;
   
}


.trans {
   width: 80px; height: 20px;
   transition: all 2s;  

}
.trans:focus {
   width: 200px;
   font-size: 24px;
}



/*Id*/


#video{
	display: inline-block;
	align-content:center;
	padding:0;
	margin: 0;
	width: 50%;
	overflow: visible;
}

#form{
	display: inline:center;
	padding:0;
	margin: 0;
	align-items: center;
}

/*grid*/


.padre1{
		display: grid;
		grid-template-columns: repeat(3,1fr);
		flex-wrap: 1rem;
		justify-content: center;
		padding: 50px 25px;
	}

.hijo1 {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	text-align: center;
	justify-content: space-between;
}
.hijo1 img{
	border-radius: 50%;
	width: 100%;

}




		
/*@media only screen and (min-width: 600px) {

	.responsive{
		grid-template: column 1fr;
	}
	.responsive2{
		grid-template: column 1fr;
	}
	.padre1{
		grid-template: column 1fr;

	}}*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
	.responsive{
		grid-template: column 1fr;
	}
	.responsive2{
		grid-template: column 1fr;
	}
	.padre1{
		grid-template: column 1fr;

	}}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	.responsive{
		grid-template: column 1fr;
	}
	.responsive2{
		grid-template: column 1fr;
	}
	.padre1{
		grid-template: column 1fr;

	}}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
	.responsive{
		grid-template: column 1fr;
	}
	.responsive2{
		grid-template: column 1fr;
	}
	.padre1{
		grid-template: column 1fr;

	}}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
	.responsive{
		grid-template: column 1fr;
	}
	.responsive2{
		grid-template: column 1fr;
	}
	.padre1{
		grid-template: column 1fr;

	}}
