body {
  font-style: 16px;
  background-color: #fff !important;
  font-family: 'Raleway', sans-serif !important;
  font-weight: 100%;
  font-style: solid;
  font-size: 1rem;
  padding: 0%;
  width: 100%; }

section {
  text-align: center; }

ol {
  color: #037368;
  font-family: comic sans-serif; }

a {
  text-decoration: none;
  color: #000;
  font-style: bold; }

span.text-muted a {
  color: #858282 !important; }

li {
  list-style: none; }

footer {
  align-content: center;
  /*overflow: auto;*/
  background-image: linear-gradient(to right, #A6E8DC, #fff); }

/*Class*/
.h1 {
  color: #1CA68D;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-align: center; }

.h2 {
  color: #037368; }

.p {
  color: #037368;
  text-align: left; 
}

.p1 {
  color: #037368;
  font-style: italic;
  text-align: center;
  text-transform: uppercase; }

.banner {
  width: 100%;
  display: inline-block;
  align-content: center;
  margin: 0; }

.productos {
  width: 300px;
  height: 300px;
  display: flex-wrap;
  justify-content: center;
  align-items: stretch;
  align-content: space-around;
  margin: 2%;
  padding: 2%; }

.productos {
  transition: all 10s;
  height: 300px;
  width: 300px;
  padding: 20px; }

.trans {
  width: 80px;
  height: 20px;
  transition: all 2s; }

.trans:focus {
  width: 200px;
  font-size: 24px; }

.fixed-top {
  color: #fff !important; }

 

/*grid*/
.padre1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: 1rem;
  justify-content: center;
  padding: 50px 25px; }

.hijo1 {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  justify-content: space-between; }

.hijo1 img {
  border-radius: 50%;
  width: 100%; }
 
 /*Id*/
#video {
  display: inline-block;
  align-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: visible; }

#form {
  border: 4px solid black;
  padding: 0;
  margin: 0;
 }

#form fieldset{
   align-content: left;

}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .responsive {
    grid-template: column 1fr; }
  .responsive2 {
    grid-template: column 1fr; }
  .padre1 {
    grid-template: column 1fr; } }
