body {
  background-color: #fff !important;
  font-family: 'Raleway', sans-serif !important;
  font-size: 1rem;
  padding: 0%;
  width: 100%; }

section {
  text-align: center; }

ol {
  color: #037368;
  font-family: comic sans-serif; }

a {
  text-decoration: none;
  color: #000; }

span.text-muted a {
  color: #858282 !important; }

li {
  list-style: none; }

footer {
  align-content: center;
  overflow: auto;
  background-image: linear-gradient(to right, #A6E8DC, #fff); }

footer iframe {
  width: 100%;
  height: 100%; }

/*Formulario de contacto*/
form {
  width: 500px;
  border: 4px solid #999;
  border-radius: 3px;
  padding: 10px;
  margin: 0 auto; }

input {
  outline: none;
  border: 0;
  border: solid 1px #ccc;
  padding: 10px; }

textarea {
  border: solid 1px #ccc;
  padding: 10px; }

select {
  border: solid 1px #ccc;
  padding: 20px; }

.field:focus {
  border-color: #037368; }

.field {
  width: 450px; }

/*Class*/
.h1 {
  color: #1CA68D;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-align: center; }

.h2 {
  color: #037368; }

.p {
  color: #037368;
  text-align: justify;
  padding: 20px; }

.p1 {
  color: #037368;
  font-style: italic;
  text-align: center;
  text-transform: uppercase; }

.banner {
  width: 100%;
  display: inline-block;
  align-content: center;
  margin: 0; }

.index {
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: stretch;
  align-content: space-around;
  margin: 2%;
  padding: 2%; }

.productos {
  height: 300px;
  width: 300px;
  padding: 20px;
  justify-content: center;
  align-items: stretch;
  align-content: space-around;
  margin: 2%;
  padding: 2%; }

.sticky {
  position: fixed;
  top: 10%;
  right: 5%;
  text-align: right; }

.sticky img {
  width: 30%; }

.sticky a:hover {
  text-decoration: none;
  background-color: transparent; }

.sticky a:focus {
  text-decoration: none;
  background-color: transparent; }

/*footer*/
.icon {
  width: 100%;
  padding: 5%; }

.icon2 {
  width: 100% !important; }

.mail {
  width: 30%;
  justify-content: center;
  text-align: center; }

.footer2 {
  text-align: center;
  padding-top: 1%; }

.div-padding {
  padding-top: 120px; }

.div-padding2 {
  padding-top: 50px; }

/*grid*/
.padre {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  padding: 50px 25px; }

.hijo {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  justify-content: space-between; }

.hijo img {
  border-radius: 50%;
  width: 100%; }

/*Id*/
#carouselExampleIndicators {
  margin-top: 56px; }

#video {
  display: inline-block;
  align-content: center;
  padding: 10px;
  margin: 0;
  width: 100%;
  overflow: visible; }

@media (min-width: 768px) {
  .responsive, footer {
    min-width: 768px;
    padding: 0 5%; }
  footer iframe {
    width: 60%;
    height: 60%; } }

@media (min-width: 425px) {
  .responsive, footer {
    min-width: 425px;
    padding: 0 5%; }
  footer iframe {
    width: 80%;
    height: 80%; } }

@media (min-width: 375px) {
  .responsive, footer {
    min-width: 375px;
    padding: 0 5%; }
  footer iframe {
    width: 100%;
    height: 100%; } }

@media (min-width: 320px) {
  .responsive, footer {
    min-width: 320px;
    padding: 0 5%; }
  footer iframe {
    width: 100%;
    height: 100%; } }
