body {
  background-color: #fff !important;
  font-family: 'Raleway', sans-serif !important;
  /*font-weight: 100%;*/
  /*font-style: solid;*/
  font-size: 1rem;
  padding: 0%;
  width: 100%; }

section {
  text-align: center; }

ol {
  color: #037368;
  font-family: comic sans-serif; }

a {
  text-decoration: none;
  color: #000;
  /*font-style: bold;*/ }

span.text-muted a {
  color: #858282 !important; }

li {
  list-style: none; }

footer {
  align-content: center;
  overflow: auto;
  background-image: linear-gradient(to right, #A6E8DC, #fff); }

/*Formulario de contacto*/
form {
  width: 500px;
  border: 4px solid #999;
  border-radius: 3px;
  padding: 10px;
  margin: 0 auto; }

input {
  outline: none;
  border: 0;
  border: solid 1px #ccc;
  padding: 10px; }

textarea {
  border: solid 1px #ccc;
  padding: 10px; }

select {
  border: solid 1px #ccc;
  padding: 20px; }

.field:focus {
  border-color: #037368; }

.field {
  width: 450px; }

/*Class*/
.h1 {
  color: #1CA68D;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-align: center; }

.h2 {
  color: #037368; }

.p {
  color: #037368;
  text-align: center;
  padding: 20px; }

.p1 {
  color: #037368;
  font-style: italic;
  text-align: center;
  text-transform: uppercase; }

.banner {
  width: 100%;
  display: inline-block;
  align-content: center;
  margin: 0; }

.productos {
  width: 300px;
  height: 300px;
  /* display: flex-wrap;*/
  justify-content: center;
  align-items: stretch;
  align-content: space-around;
  margin: 2%;
  padding: 2%; }

.productos {
  transition: all 10s;
  height: 300px;
  width: 300px;
  padding: 20px; }

/*footer*/
.icon {
  width: 100%;
  padding: 5%; }

.icon2 {
  width: 100% !important; }

.mail {
  width: 30%;
  justify-content: center;
  text-align: center; }

.footer2 {
  text-align: center;
  padding-top: 1%; }

.div-padding {
  padding-top: 120px; }

.div-padding2 {
  padding-top: 50px; }

/*grid*/
.padre1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*flex-wrap: 1fr;*/
  justify-content: center;
  padding: 50px 25px; }

.hijo1 {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  justify-content: space-between; }

.hijo1 img {
  border-radius: 50%;
  width: 100%; }

/*Id*/
#video {
  display: inline-block;
  align-content: center;
  padding: 10px;
  margin: 0;
  width: 100%;
  overflow: visible; }

/*// Small devices (landscape phones, 576px and up)*/
/* @media (min-width: 576px){
  .responsive {
    grid-template: column 1fr; 
  }
  .responsive2 {
    grid-template: column 1fr; 
  }
  .padre1 {
    grid-template: column 1fr; 
  } 
  }*/
